{
  "prod": {
    "twitter": {
      "screen_name": "{{ twitter_contributors_twitter_screen_name }}",
      "user_id": "{{ twitter_contributors_twitter_user_id }}",
      "admin_id": "{{ twitter_contributors_twitter_admin_id }}",
      "consumer_key": "{{ twitter_contributors_twitter_consumer_key }}",
      "consumer_secret": "{{ twitter_contributors_twitter_consumer_secret }}",
      "oauth_token": "{{ twitter_contributors_twitter_oauth_token }}",
      "oauth_secret": "{{ twitter_contributors_twitter_oauth_secret }}",
      "tweet_rate": {{ twitter_contributors_twitter_tweet_rate }}
    },
    "tumblr": {
      "blog_name": "{{ twitter_contributors_tumblr_blog_name }}",
      "blog_url": "{{ twitter_contributors_tumblr_blog_url }}",
      "consumer_key": "{{ twitter_contributors_tumblr_consumer_key }}",
      "consumer_secret": "{{ twitter_contributors_tumblr_consumer_secret }}",
      "oauth_token": "{{ twitter_contributors_tumblr_oauth_token }}",
      "oauth_secret": "{{ twitter_contributors_tumblr_oauth_secret }}"
    }
  }
}